
    <div class="container" style="text-align: center;">
       
       

       <div class="row" style="width: 100%;text-align: center;">  
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        <input type="file" name="image" ng2FileSelect [uploader]="uploader1" style="font-size:100%;margin-left: 36%;margin-top: 50%;"/>
         <br>
        <button type="button" class="btn btn-light shadow p-2 mb-3 bg-white rounded" style="border-bottom: 3px solid #656565;width: 30%;margin-top: 10%;" (click)="addimage()">Submit</button>  
        </div>
        <div class="col-sm-4"></div>

       </div>
       
      
           
          
   
    </div>
    