<div class="container" style="text-align: center;">
       
        
  <button id="upload" type="button" class="btn btn-light shadow p-2 mb-3 bg-white rounded" style="margin-top: 10%;border-bottom: 3px solid #656565;" (click)="up()">Upload</button>




<div class="row">

<div class="col-md-4" *ngFor="let d1 of data" style="margin-bottom: 2%;">
  <div class="card" style="width: 100%">
      <img class="card-img" src="{{d1.img}}" alt="Card image" style="width: 100%;height: 190px;">
    </div>
    <div class="card-body" style="padding:1%;text-align: center;background-color: white;color: #3182ce;">
      <p class="card-text">{{d1.name}}</p>
    </div>
 </div>

</div>
</div>